cache:
  - C:\msys64\home\appveyor\.ccache
  - C:\Users\appveyor\clcache

environment:
  matrix:
  - TARGET: x86_64-pc-windows-msvc
    ARCH: amd64
    VS: "C:\\Program Files (x86)\\Microsoft Visual Studio 12.0\\VC\\vcvarsall.bat"
    CCTYPE: MSVC120
    MAKE: nmake
  - TARGET: x86_64-pc-windows-msvc
    ARCH: amd64
    VS: "C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\VC\\vcvarsall.bat"
    CCTYPE: MSVC140
    MAKE: nmake
  - TARGET: i686-pc-windows-msvc
    ARCH: x86
    VS: "C:\\Program Files (x86)\\Microsoft Visual Studio 12.0\\VC\\vcvarsall.bat"
    CCTYPE: MSVC120
    MAKE: nmake
  - TARGET: i686-pc-windows-msvc
    ARCH: x86
    VS: "C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\VC\\vcvarsall.bat"
    CCTYPE: MSVC140
    MAKE: nmake
  #- TARGET: x86_64-pc-windows-gnu
  #  MSYS_BITS: 64
  #  MAKE: gmake
  #- TARGET: i686-pc-windows-gnu
  #  MSYS_BITS: 32
  #  MAKE: gmake

clone_depth: 10

init:
  - "call \"%VS%\" %ARCH%"
  - rem let's compile clcache in order to speedup incremental builds
  - cd C:/
  - set PATH=C:/Python35-x64;C:/Python35-x64/Scripts;%PATH%
  - pip install clcache
  - set CLCACHE_MSBUILD_CONF=/p:TrackFileAccess=false /p:CLToolExe=clcache.exe /p:CLToolPath=C:\Python35-x64\Scripts
  - set APPVEYOR_SAVE_CACHE_ON_ERROR=true
  - set CC=clcache
  - cd /d C:/projects/perl5

install:

build: true

build_script:
    - "cd win32 && %MAKE% CCTYPE=%CCTYPE%"

test_script:
  - "%MAKE% test"
