cache:
  - C:\msys64\home\appveyor\.ccache
  - C:\Users\appveyor\clcache

environment:
  matrix:
  - TARGET: x86_64-windows-msys64
    ARCH: amd64
    VS: "C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\VC\\vcvarsall.bat"
    CCTYPE: GCC
    CC: gcc.exe
    PATH_PREPEND: C:\msys64\usr\bin;
    MYMAKE: make
    DEBUG_CMD: man test ; which test
    CONFIGURE: sh ./Configure -des -Dusedevel
    BUILD: "%MYMAKE%"
  - TARGET: x86_64-pc-windows-msvc
    ARCH: amd64
    VS: "C:\\Program Files (x86)\\Microsoft Visual Studio 12.0\\VC\\vcvarsall.bat"
    CCTYPE: MSVC120
    CC: clcache.exe
    MYMAKE: nmake
    BUILD: "cd win32 && %MYMAKE% CCTYPE=%CCTYPE% CC=%CC% %DEFINE%"
  - TARGET: x86_64-pc-windows-msvc
    ARCH: amd64
    VS: "C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\VC\\vcvarsall.bat"
    CCTYPE: MSVC140
    CC: clcache.exe
    MYMAKE: nmake
    BUILD: "cd win32 && %MYMAKE% CCTYPE=%CCTYPE% CC=%CC% %DEFINE%"
  - TARGET: x86_64-pc-windows-msvc
    ARCH: amd64
    VS: "C:\\Program Files (x86)\\Microsoft Visual Studio 14.1\\VC\\vcvarsall.bat"
    CCTYPE: MSVC141
    CC: clcache.exe
    MYMAKE: nmake
    BUILD: "cd win32 && %MYMAKE% CCTYPE=%CCTYPE% CC=%CC% %DEFINE%"
  - TARGET: x86_64-pc-windows-msvc
    ARCH: amd64
    VS: "C:\\Program Files (x86)\\Microsoft Visual Studio 14.2\\VC\\vcvarsall.bat"
    CCTYPE: MSVC142
    CC: clcache.exe
    MYMAKE: nmake
    BUILD: "cd win32 && %MYMAKE% CCTYPE=%CCTYPE% CC=%CC% %DEFINE%"
  - TARGET: i686-pc-windows-msvc
    ARCH: x86
    VS: "C:\\Program Files (x86)\\Microsoft Visual Studio 12.0\\VC\\vcvarsall.bat"
    CCTYPE: MSVC120
    CC: clcache.exe
    MYMAKE: nmake
    DEFINE: WIN64=undef
    BUILD: "cd win32 && %MYMAKE% CCTYPE=%CCTYPE% CC=%CC% %DEFINE%"
  - TARGET: i686-pc-windows-msvc
    ARCH: x86
    VS: "C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\VC\\vcvarsall.bat"
    CCTYPE: MSVC140
    CC: clcache.exe
    MYMAKE: nmake
    DEFINE: WIN64=undef
    BUILD: "cd win32 && %MYMAKE% CCTYPE=%CCTYPE% CC=%CC% %DEFINE%"
  #- TARGET: x86_64-pc-windows-gnu
  #  MSYS_BITS: 64
  #  MYMAKE: gmake
  #- TARGET: i686-pc-windows-gnu
  #  MSYS_BITS: 32
  #  MYMAKE: gmake
  # Cygwin
  # gcc

clone_depth: 10

init:
  - "call \"%VS%\" %ARCH%"
  - rem let's compile clcache in order to speedup incremental builds
  - cd C:/
  - set PATH=C:/Python35-x64;C:/Python35-x64/Scripts;%PATH%
  - pip install clcache
  - set CLCACHE_MSBUILD_CONF=/p:TrackFileAccess=false /p:CLToolExe=clcache.exe /p:CLToolPath=C:\Python35-x64\Scripts
  - set APPVEYOR_SAVE_CACHE_ON_ERROR=true
  - cd /d C:/projects/perl5
  #- dir /b /s c:\Perl
  #- dir /b /s C:\cygwin64
  #- dir /b /s C:\cygwin
  #- dir /b /s C:\msys64
  # C:\\msys64\\usr\\bin
  - "dir /b /s \"C:\\Program Files\\LLVM\\bin\""
  # Check the installed AppVeyor Perl
  #- perl -V

install:

build: true

build_script:
    - path %PATH_PREPEND%%PATH%
    - "echo %PATH%"
    - "echo %DEBUG_CMD%"
    - "%DEBUG_CMD%"
    - "echo %MYMAKE% CCTYPE=%CCTYPE% CC=%CC% %DEFINE%"
    - "if not \"%CONFIGURE%x\" == \"x\" %CONFIGURE%"
    - "if not \"%BUILD%x\" == \"x\" %BUILD%"

test_script:
  - "%MYMAKE% test"
